@import 'color';
.title{
    color: $primary-black-color;
    font-size: 40px;
    text-align: center;
    font-style: Verdana;
    margin: 0 auto;
}
.FeaturedGames{
    background-color: $primary-white-color;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.latestUpdates{
    background-color: $primary-white-color;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}
.updatesTop{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    border-bottom: 3px solid $primary-gray-color;
    padding-bottom: 10px;
}
.eaBar{
    font-size: 30px;
    color: $primary-black-color;
    padding-left: 15px;
    border-right: 3px solid $primary-gray-color;
    padding-right: 15px;
}
.eaBar2{
    font-size: 30px;
    color: $primary-black-color;
    padding-left: 15px;
    padding-right: 15px;
}
.gamesTOP{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:flex wrap;
    align-self: center;
    
    
    
}
.gamesBOT{
    display: flex;
    flex-direction: row wrap;
}
.gamebox{
    padding: 14px;
}

.pic1{
    height: 350px;
    width: 350px;
}
.LatestGamesButton{
    margin: 0 auto;
    display:inline-block;
	cursor:pointer;
	font-family:Georgia;
	font-size:21px;
	padding:14px 25px;
	text-decoration:none;
}
.LatestUpdatesButton{
    display: flex;
    justify-content: center;
}
.myButton{
    display:inline-block;
	cursor:pointer;
	color:$primary-black-color;
	font-family:Georgia;
	font-size:21px;
	padding:12px 24px;
	text-decoration:none;
    background-color: $primary-white-color;
    border-radius: 4px;
}
.containerCenter{
    margin: 0 auto;
}
